.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CodeMirror {
  font-family: "Fira Code" !important;
  background-color: transparent !important;
  font-size: x-large;
  height: 100% !important;
}

.CodeMirror-line {
  background-color: #00000080 !important; 
  width: fit-content;
}
.CodeMirror-lines {
  padding: 0px !important;
}

@media screen and (max-width: 900px) {
  .CodeMirror {
    font-size: medium;
  }
}